.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100vw;
  min-height: 100vh; 
  height: fit-content;
}

.appointment-index {
  margin: 36px 0 36px 0;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 500px;
}

.index-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 62px;
  height: 62px;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

.default-header {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.appointment-index-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 482px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.appointment-index-item:last-child {
  border-bottom: 1px solid black;
}

div#date {
  font-size: 16px;
  font-weight: 600;
}

.appointment-index-item button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

.appointment-index-item button:hover {
  background-color: lightblue;
}

.img-container {
  width: fit-content;
  height: fit-content;
  background: aliceblue;
  border: lightblue 20px solid;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  margin-top: 16px;
  overflow: hidden;
  text-align: center;
}

.img-container img {
  height: 300px;
  margin: 30px;
}

.user-img-btns {
  margin-left: 30px;
  margin-bottom: 15px;
}

.profile-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* styling for image upload button */
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  content: 'Select some files';
  display: block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 90px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: rgb(239, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 0.833rem;
  padding: 0 5px;
}

input:hover + label{
  background-color: lightblue;
}
/* styling for image upload button */

.user-detail {
  background: beige;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.user-description {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.update-profile-button {
  border-radius: 5px;
  border: 1px lightgrey solid;
  height: 30px;
  cursor: pointer;
}
.update-profile-button:hover {
  background-color: lightblue;
}

.upload-pic-button {
  border-radius: 5px;
  border: 1px lightgrey solid;
  height: 30px;
  cursor: pointer;
}
.upload-pic-button:hover {
  background-color: lightblue;
}

.green-check {
  content: '\2705';
}
.user-errors {
  color: red;
}
