div.home-container {
  position: fixed;
  top: 71px;
  bottom: 0px;
  width: 100%;
  object-fit: contain;
}

#map-container {
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 70%; 
} 