div.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 101, 218);
  padding: 10px;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 8px;
}

.navbar-logo {
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  margin-left: 75px;
}

div.right-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

div.right-buttons a {
  max-height: 52px;
  padding: 16px;
  border-radius: 8px;
  font-size: 24px;
  color: rgb(13, 28, 61);
  text-decoration: none;
}

div.right-buttons a:hover {
  background-color: rgb(194, 194, 194);
}

div.right-buttons button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 10px;
  border: none;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  color: rgb(13, 28, 61);

}

div.right-buttons button:hover {
  background-color: rgb(194, 194, 194);
}