div.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 101, 218);
  padding: 10px;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 8px;
}

.navbar-logo {
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  margin-left: 75px;
}

div.right-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 75px;
}

div.right-buttons a {
  max-height: 52px;
  padding: 16px;
  /* border-radius: 8px; */
  font-size: 24px;
  color: rgb(240, 240, 240);
  text-decoration: none;
}

div.right-buttons a:hover {
  /* background-color: rgb(72,129,235); */
  border-bottom: 1px solid white;
}

div.right-buttons button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 16px;
  border: none;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  color: rgb(234, 238, 246);

}

div.right-buttons button:hover {
  /* background-color: rgb(72,129,235); */
  border-bottom: 1px solid white;
}