div.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(72, 129, 235);
  width: 100%;
}

.header-bg {
  width: 40%;
  padding: 10px;
  transform: scale(0.7, 0.7);
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(253,253,255);
  padding: 10px;
  width: 30%;
}

.header-title {
  width: 100%;
  margin-top: 0px;
  padding: 10px;
  font-size: 4rem;
  line-height: 80px;
  font-weight: 800;
  margin-bottom: 10px;
}

.header-description {
  font-size: 1.3rem;
  line-height: 40px;
  padding: 10px;
}

.splash-service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* .splash-service-bg {
  width: 100%;
  position: absolute;
  z-index: -1;
} */

.splash-service {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  margin: 10px 50px;
  flex-wrap: wrap;
}

div.splash-component {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 70px;
}

div.splash-text {
  color: rgb(34, 60, 116);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 20px;
}

div.splash-image-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-bottom: 1px solid #e8edf1ab;
  margin-bottom: 5px;
  padding-bottom: 10px;
  height: 200px;
}

div.splash-image-container img {
  width: 70%;
}

.splash-component-desc {
  display: flex;
  overflow-wrap: wrap;
  width: 50%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  font-size: 1.5rem;
  color: rgb(34, 60, 116);
}
