.appointment-details-modal-background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.appointment-details {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: fit-content;
  min-height: 250px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 24px;
}

.appointment-details > div:first-child {
  position: absolute;
  top: 20px;
  right: 16px;
}

.appointment-details > div:not(:first-child) {
  padding: 16px;
}

.appointment-details button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background-color: lightblue;
}

.appointment-details button:hover {
  background-color: rgb(115, 193, 219);
}

.appointment-details .button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background-color: lightblue;
  text-align: center;
  color: black;
  text-decoration: none;
}

.appointment-details .button:hover {
  background-color: rgb(115, 193, 219);
}

.appointment-details .button {
  padding: 12px;
  margin: 16px 24px 0px 24px;
  font-size: 18px;
  font-weight: 600;
}

button#delete.button {
  background-color: rgb(221, 54, 54);
}

button#delete.button:hover {
  background-color: red;
}